<div>
  <button (click)="addTask()" mat-icon-button>
    <mat-icon>assignment</mat-icon>
  </button>
  <mat-table [dataSource]="tasks" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        Done
      </mat-header-cell>
      <mat-cell *matCellDef="let task">
        <mat-checkbox [ngModel]="task.complete" (click)="taskCompleted(task)"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <!-- NAME Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Task Name</mat-header-cell>
      <mat-cell *matCellDef="let task"><a routerLink="/daily-tasks/{{task.id}}">{{task.name}}</a></mat-cell>
    </ng-container>
    <!-- ASSIGNED_TO Column -->
    <ng-container matColumnDef="assignedTo">
      <mat-header-cell *matHeaderCellDef>Assigned To</mat-header-cell>
      <mat-cell *matCellDef="let task">{{task.assignedTo.name}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
</div>
