<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="simple-grid.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Boot Mustache Hello World Example</title>
</head>
<body>
