<mat-card class="centered-card">
  <mat-card-title><mat-toolbar>Profile</mat-toolbar></mat-card-title>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="3:2">
      <mat-list>
        <mat-grid-tile colspan="2">
          <mat-list-item>Username:</mat-list-item>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-list-item>{{currentUser.username}}</mat-list-item>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-list-item>Email Address:</mat-list-item>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-list-item>{{currentUser.email}}</mat-list-item>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-list-item>First Name:</mat-list-item>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" style="min-height: auto">

          <mat-list-item *ngIf="!isEditMode">{{userProfile.firstName}}</mat-list-item>
          <mat-list-item *ngIf="isEditMode">
            <mat-form-field class="form-field" appearance="standard">
              <mat-label>First Name</mat-label>
              <input matInput type="text" [(ngModel)]="userProfile.firstName" />
              <button *ngIf="userProfile.firstName" matSuffix mat-icon-button (click)="userProfile.firstName = ''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </mat-list-item>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-list-item>Last Name:</mat-list-item>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-list-item *ngIf="!isEditMode">{{userProfile.lastName}}</mat-list-item>
          <mat-list-item *ngIf="isEditMode">
            <mat-form-field class="form-field" appearance="standard">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" [(ngModel)]="userProfile.lastName" />
              <button *ngIf="userProfile.lastName" matSuffix mat-icon-button (click)="userProfile.lastName = ''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </mat-list-item>
        </mat-grid-tile>
      </mat-list>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button *ngIf="!isEditMode" (click)="toggleEdit()">Edit Profile</button>
    <button mat-flat-button *ngIf="isEditMode" (click)="saveEdit()">Save Profile</button>
  </mat-card-actions>
</mat-card>
