<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false && isLoggedIn">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngIf="isLoggedIn">
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/daily-tasks">Daily Tasks</a>
      <a mat-list-item routerLink="/weekly-tasks">Weekly Tasks</a>
      <a mat-list-item routerLink="/calendar">View Calendar</a>
      <a mat-list-item routerLink="/pokemon">Pokedex</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Welcome, {{familyName}} Family!</span>
      <span class="spacer"></span>
      <div *ngIf="!isLoggedIn">
        <button (click)="openRegisterDialog()" mat-raised-button>
          Register
        </button>
        <span style="margin-left:10px;"></span>
        <button (click)="openLoginDialog()" mat-raised-button>
          Log In
        </button>
      </div>
      <div *ngIf="isLoggedIn">
        <button mat-icon-button routerLink="/profile">
          <mat-icon>account_circle</mat-icon>
        </button>
        <span style="margin-left:10px;"></span>
        <button (click)="logout()" mat-raised-button>
          Logout
        </button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
