:host {
  display: block;
  perspective: 600px;
  height: 100%;
}

.container {
  height: 100%;
}

.viewport {
  height: 80%;
}

.open-close-container {
  border: 1px solid #dddddd;
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}
