<div class="container" style="margin-top: 16px">
  <div class="search" style="margin-bottom: 16px">
    <form [formGroup]="searchForm" (ngSubmit)="doSearch(searchForm)">
      <div class="row g-3">
        <div class="col-lg-2">
          <mat-form-field >
            <mat-label>Name:</mat-label>
            <input matInput formControlName="name" placeholder="Pokemon" />
          </mat-form-field>
        </div>
        <div class="col-lg-2">
          <mat-form-field>
            <mat-label>Card Type:</mat-label>
            <mat-select formControlName="cardType" multiple>
              <mat-option *ngFor="let cardType of cardTypes" [value]="cardType">{{cardType}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-2">
          <button mat-raised-button color="primary">Search</button>
        </div>
      </div>
    </form>
  </div>
  <cdk-virtual-scroll-viewport itemSize="10" class="viewport">
    <div class="row row-cols-3 g-2 g-lg-3">
      <div *cdkVirtualFor="let card of cards; trackBy: trackByFn" class="col">
        <app-pokemon-card [card]="card"></app-pokemon-card>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
